@using WellFitPlus.WebPortal.Views
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

@*<h2 class="text-xxlarge">@ViewBag.Title</h2>*@

<div class="row">
    <div class="col-md-offset-2 col-md-8">
        @*@Html.Partial("_BootstrapValidationSummary")*@
        <div class="well">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <hgroup class="title">
                        <h2>Web Portal</h2>
                    </hgroup>
                    <p>Log into your account to get started.</p>
                    <hr />

                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="pull-right">
                                @*@Html.ActionLink("Register", "Register", null, new { @class = "btn btn-default" })*@
                                <input type="submit" id="submitLogin" value="Log in" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-6 col-md-6 pull-right">
                            <div class="pull-right">
                                @*@Html.ActionLink("Forgot your password?", "ForgotPassword")*@
                            </div>

                        </div>
                    </div>
                }
            </section>
        </div>
    </div>
</div>
@*<div class="row">
    <div class="col-lg-4 col-lg-offset-4">
        <section id="loginForm" class="">
            @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="login-title"> Welcome To Well Fit</div>
                <div class="form-group ">
                    <div class="login-field">
                        @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="login-field">
                        <div>
                            @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                            @Html.ActionLink("Forgot?", "ForgotPassword", "Account", new { @class = "forgot-password" })
                        </div>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                    <input type="submit" id="submitLogin" value="Log in" class="btn btn-inverse col-lg-offset-6" />
                </div>
            }
        </section>
    </div>
</div>*@
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/Scripts/account.js")
<script>
   
</script>
}

